header {
  color: yellow;
  background-color: black;
  text-align: center;
  width: 100%;
  height: auto;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  overflow: hidden;
  border-radius: 0 0 85% 85%;
}

body {
  margin: 0 auto;
  background-color: grey;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.kenobi-section {
  font-size: 24px;
  text-align: center;
}

main {
  padding: 20px;
  background-color: grey;
}

img {
  width: 300px;
  margin: 0 auto;
  display: block;
  border: 15px solid #018e42;
  border-radius: 50%;
}

footer {
  background-color: black;
  color: yellow;
  text-align: center;
  width: 100%;
  height: auto;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
button {
  padding: 20px 30px;
  background-color: #018e42;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:active {
  background-color: #ff5733;
}
